@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Important Style */
.flex {
    display: flex;
}
:root {
    --dark-3: #727272;
    --dark-2: #424242;
    --dark-1: #131313;
}
.fixed-width {
    max-width: 1500px;
    margin: 0 auto;
    background-color: #fff;
}
main > section {
    margin-top: 120px;
}
header {
    background-color: #FFF4E7;
} 
.primary-fonts {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.primary-btn {
    color: white;
    background-color: #FF900E;
    padding: 18px 22px;
    font-size: 1.2rem;
    border: 1px solid #FF900E;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.2s linear 0.1s;
}
.primary-btn:hover {
    color: #FF900E;
    background-color: #fff;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    color: var(--dark-1);
}
                                                 /*           Nav                  */
nav {
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 100px;
}
.nav-title h2 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--dark-1);
}
.nav-menu li {
    list-style: none;
    margin: auto;
    margin-left: 50px;

}
.nav-menu li a {
    text-decoration: none;
    color: var(--dark-2);
    font-size: 1.2rem;
    font-weight: 500;
}

                                /* Banner */

.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-content h3 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--dark-1);
}
.banner-content p {
    font-size: 1rem;
    color: var(--dark-3);
    line-height: 22px;
    margin-bottom: 20px;
}
.banner-img {
    text-align: center;
    width: 100%;
} 
.banner-img img {
    width: 70%;
    border-radius: 10px;
    margin: 0 auto;
}
/* Features */
.features {
    align-items: center;
}
.features-img-collage {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 25px;
    margin-right: 80px;
} 
.features-content h3 {
    font-size: 2.5rem;
    font-weight: 800;
    width: 500px;
    margin-bottom: 30px;
}
.features-content-dark {
    color: var(--dark-3);
    font-weight: 600;
}
.features-content-orange {
    color: #FF900E;
}
.features-content p {
    color: var(--dark-3);
    font-size: 1rem;
    width: 430px;
    line-height: 20px;
    margin-bottom: 40px;
}

/* facts */
.facts-section p {
    color: var(--dark-3);
    width: 600px;
    margin-top: 30px;
    margin-bottom: 80px;
}
.fact-cards {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
.fact-card {
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #FF900E;
    max-width: 220px;
    height: 240px;
    border-radius: 9px;
}
.fact-heading {
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-sub-heading {
    color: var(--dark-3);
    font-size: 1.2rem;
}

/* sponspor   section */
.sponspor-text {
    width: 545px;
    margin: 50px auto;
    text-align: center;
}
.sponspor-text h3 {
    font-weight: 700;
    margin-bottom: 30px;
}
.sponspor-text p {
    color: var(--dark-3);
}
.sponspor-company {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 140px;
}
.sponspor-company img {
    filter: grayscale(100%);
}
/* footer */
footer {
    max-width: 1500px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 244, 231, 1);
    justify-content: center;
    align-items: center;
    margin-bottom: 220px;
}
footer > p {
    font-size: 1.2rem;
    color: var(--dark-3);
}







@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
    nav {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .nav-menu {
        justify-content: space-around;
    }
    .nav-menu li {
        margin: 10px 10px;
    }
    
    .banner {
        width: 100%;
    }
    .primary-btn {
        padding: 16px 14px;
        border-radius: 5px;
    }
    .banner-img img {
        border-radius: 0;
        width: 100%;
    }
    .features {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features-img-collage {
        grid-template-columns: repeat(1, 1fr);
        margin-right: 5px;
    }
    .features-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 360px;
    }
    .features-content h3 {
        text-align: center; 
        margin-top: 30px;
        margin-bottom: 18px;
        width: 360px;
    }
    .features-content p {
        text-align: center; 
        margin-bottom: 20px;
        width: 360px;
    }
    .facts-section p {
        width: 300px;
    }
    .fact-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
